html, body {
    width: 400px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#scriptInput {
    width: 376px;
    height: 300px;
    margin: 12px 12px 0px 12px;
    padding: 0;
    resize: none;
    outline: none;
}

#executeButton {
    width: 376px;
    height: 64px;
    margin: 12px;
    line-height: 64px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    background-color: #efefff;
}

#executeButton:hover {
    background-color: #dfdfff;
}

#executeButton:active {
    background-color: #efefef;
}